body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif; }

::selection {
  background: #14a0c7;
  color: #2c2f3c; }

.header {
  background: url("../img/m-h-day.jpg") center no-repeat;
  text-align: left;
  max-width: 100%;
  background-size: 1920px;
  border: 2px solid white;
  padding: 0;
  border-bottom-right-radius: 750px 290px; }
  .header .header-wrap {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto; }
    .header .header-wrap .landing-logo {
      margin: 0 25px; }
      .header .header-wrap .landing-logo img {
        float: left;
        margin: 7px 0;
        height: 45px;
        width: 50px; }
      .header .header-wrap .landing-logo p {
        color: #2c2f3c;
        font-family: "Hind", sans-serif;
        display: inline-block;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        padding-left: 15px; }
        .header .header-wrap .landing-logo p span {
          display: block;
          font-size: 10px;
          margin: 0 auto; }
    .header .header-wrap .header_heading, .header .header-wrap .header_text {
      color: #2c2f3c;
      max-width: 660px;
      margin: 25px 25px;
      text-align: left;
      font-weight: 700;
      font-size: 70px; }
    .header .header-wrap .header_text {
      font-weight: 300;
      font-size: 20px; }
    .header .header-wrap div:last-child {
      text-align: center;
      margin: 25px;
      max-width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .header-wrap div:last-child .header_button {
        width: 148px;
        height: 52px;
        color: white;
        background: #699900;
        border: 1px solid #699900;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;
        margin: 50px 0; }
      .header .header-wrap div:last-child .login {
        font-size: 20px;
        color: white;
        font-weight: 700;
        margin: 50px 0; }

.section {
  text-align: center; }
  .section .section_text {
    color: #2c2f3c;
    font-size: 50px;
    font-weight: 600; }
  .section .section_card_wrap {
    margin: 0 auto;
    max-width: 1130px;
    width: 100%; }
    .section .section_card_wrap .section_card {
      max-width: 1120px;
      width: 100%;
      background-color: #21232e;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 35px auto;
      border-radius: 10px; }
      .section .section_card_wrap .section_card img {
        border-radius: 10px;
        margin: 15px;
        width: 435px;
        height: auto; }
      .section .section_card_wrap .section_card div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        width: 100%;
        text-align: center;
        color: white;
        margin: 50px auto; }
        .section .section_card_wrap .section_card div .section_card_heading {
          font-size: 18px;
          margin: 15px auto;
          font-weight: 700; }
        .section .section_card_wrap .section_card div .section_card_text {
          color: #aee7f6;
          font-size: 15px;
          text-align: left;
          margin: 35px 0; }
        .section .section_card_wrap .section_card div a {
          font-size: 15px;
          color: #aee7f6;
          text-align: center; }
  .section .section_banner {
    background: linear-gradient(to right, #649315, #305ecf);
    max-width: 1300px;
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 75px;
    z-index: 2; }
    .section .section_banner .section_banner_text_wrap {
      flex-direction: column;
      text-align: left;
      max-width: 600px;
      width: 100%;
      margin: 30px 0 30px 50px; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #2c2f3c;
        font-size: 30px;
        font-weight: 700;
        margin: auto; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        color: white;
        font-size: 18px;
        margin: auto; }
    .section .section_banner .section_banner_button {
      width: 148px;
      height: 52px;
      color: white;
      background: #699900;
      border: 1px solid #699900;
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      margin: auto 70px; }

.footer {
  position: relative;
  max-width: 1920px;
  max-height: 300px;
  height: 100%;
  margin: 0 auto;
  background-color: #21232e;
  z-index: 1; }
  .footer .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 65px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around; }
    .footer .footer-wrap .landing-logo {
      margin: 0 auto; }
      .footer .footer-wrap .landing-logo img {
        float: left;
        margin: 7px 0;
        height: 45px;
        width: 50px; }
      .footer .footer-wrap .landing-logo p {
        color: #2c2f3c;
        font-family: "Hind", sans-serif;
        display: inline-block;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        padding-left: 15px;
        color: white; }
        .footer .footer-wrap .landing-logo p span {
          display: block;
          font-size: 10px;
          margin: 0 auto; }
    .footer .footer-wrap .footer_text {
      color: white;
      margin: 0 auto;
      max-width: 300px; }
    .footer .footer-wrap .footer-cr {
      color: white;
      margin: 0 auto; }
