$fontWeight: 700;
$headerBackgr: url("../img/m-h-day.jpg");
$backgrCol: rgb(255, 255, 255);
$fontCol: rgb(44, 47, 60);
$sectionCardColor: rgb(33, 35, 46);
$selectionBkgr: rgb(20, 160, 199);
$bannerBackgr: linear-gradient(to right, rgb(100, 147, 21), rgb(48, 94, 207))