$fontWeight: 700;
$headerBackgr: url("../img/m-h-night.jpg");
$backgrCol: rgb(33, 35, 46);
$fontCol: rgb(255, 255, 255);
$sectionCardColor: rgb(59, 63, 80);
$selectionBkgr: rgb(255, 78, 51);
$bannerBackgr: linear-gradient(to right, rgb(224, 167, 3), rgb(148, 88, 80))