*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4 {
    margin: 0;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-size: 15px;
    color: #000;
    line-height: 1.6;
}

.header {
    padding: 10px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-bar {
    font-size: 14px;
    font-weight: 700;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s linear;
}

.nav-link:hover {
    color: #bfba55;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/home-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro-inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro-header {
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 700;
}

.intro-small-header {
    color: #bfba55;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.intro-small-header span {
    text-transform: uppercase;
}

.but {
    background-color: #FFFFFF;
    color: #000;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 14px;
    border: 1px solid #000;
    border-radius: 28px;
    transition: color 0.2s linear;
}

.section {
    width: 100%;
    margin: 120px auto;
}

.section-inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.content {
    max-width: 900px;
    margin: 0 auto 150px auto;

}

.cont-img {
    max-width: 900px;
    width: 100%;
    height: 630px;
}

.container h2 {
    margin: 15px auto;
}

.author p {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.aut-img {
    width: 43px;
    height: 43px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.text {
    margin-bottom: 40px;
}

.section-text {
    font-size: 17px;
}

.section_but {
    text-transform: none;
    border: 1px solid grey;
}

.footer {
    background: #000;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

.footer-inner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.about,
.contact {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.about_header, .contact_header{
    color: #FFFFFF;
    font-size: 22px;
    padding-top: 100px;
    text-transform: uppercase;
}
.about-text, .contact-text{
    color: #FFFFFF;
    font-size: 15px;
}
